/*==================================================================================================================================
 Stylesheet für ........................
 Datei: ......... .css
 Datum: .. .. ..
 Autor: ..........
 Aufbau: 1.Allgemeine Styles
         2. Styles für Layoutbereiche
		 3. Sonstige Styles
===================================================================================================================================*/

@media screen{
	
/*======================================================================================================
1.Allgemeine Styles
======================================================================================================*/



/*======================================================================================================
2. Styles für die Layoutbereiche
======================================================================================================*/



/*======================================================================================================
3. Sonstige Styles
======================================================================================================*/




}     /*Ende @media*/



/*==================================================================================================================================
E N D E ....... .css
==================================================================================================================================*/