/* =====================================================

   Stylesheet für die Beispielsite aus "Einstieg in CSS"

   Datei: navi-float-horizontal.css
   Datum: ...
   Autor: ...

========================================================== */

@media screen {

  #navibereich {
  position: relative; /* zur Positionierung des Suchformulars */
    overflow:hidden;
    background: #fee05a;
    background-image: linear-gradient(#fee05a, #f3c600);
    padding: 0;
    padding-left: 20px;
  padding-right: 180px;  /* reserviert  für das Suchformular  */
    margin: 0;
  }

/* ======================================
   Hauptnavigation gestalten
   ====================================== */
  ul.navmain {
    padding: 0;
    margin: 0;
  }
  ul.navmain li {
    float: left;
    width: auto;
    list-style: none;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  ul.navmain a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 7px 13px 7px 10px;
  }

  ul.navmain a.sie-sind-hier {
    background: #ffeda0;
    background-image: linear-gradient(#f7d337, #fff2c1);
    color: black;
    font-weight: normal;
    text-decoration: none;
  }
  ul.navmain a:hover,
  ul.navmain a:focus {
    background: #f3c600;
    background-image: linear-gradient(#f7d337, #fff2c1);
    color: black;
    text-decoration: underline;
  }
  ul.navmain a:active {
    background: #b80000;
    color: white;
  }


/* ======================================
   Suchformular gestalten
   ====================================== */

  .suchformular label {
    position: absolute;
    left: -32768px;
    top: -32768px;
    width: 0;
    height: 0;
  }

  .suchformular {
    position: absolute;
    top: 5px;
    right: 20px;
  }

  .suchformular input[type="text"] {
    width: 100px;
    font-size: 11px;
    border: none;
    border-radius: 4px;
    padding: 3px 25px 3px 9px;
    margin: 0;
  }
  .suchformular input.lupe {
    position: absolute;
    right: 7px;
    top: 3px;
    padding: 0;
    margin: 0;
  }

} /* Ende @media – nicht löschen! */


@media screen and (max-width: 767px) {

  #navibereich form { display: none; }

  #navibereich { padding-right: 0; }

} /* Ende @media */


/* ======================================
   E N D E
====================================== */