/* =======================================================
   
   Zentrales Stylesheet – wird im <head> der Webseiten eingebunden
   
   Datei: zentrale.css
   Datum: ...
   Autor: ...
   
========================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

@import url(reset.css);
@import url(bildschirm.css);
@import url(navi-tabs.css); 
@import url(formulare.css);
@import url(druckversion.css);

/* ======================================
   E N D E 
====================================== */
