/* =======================================================

   Zentrales Stylesheet – wird im <head> der Webseiten eingebunden

   Datei: css/zentrale.css
   Datum: ...
   Autor: ...

========================================================== */


@import url(reset.css);

@import url(bildschirm.css);



/* ======================================
   E N D E
====================================== */